.panel {
  max-width: 400px;
  background: white;
  border: thin solid lightgrey;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 1px 4px 1px rgba(211,211,211,.5);
}

.panel h4 {
  font-size: 1.5em;
}

.cover img {
  max-width: 400px;
  width: 100%;
}

.card {
  padding: 1rem 2rem;
}

.card > *, .cover > a:first-of-type {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  color: black;
}

.text-muted {
  color: dimgrey;
  font-size: .8em;
}